@charset "UTF-8";
/* Aca empiezan las media querys */
@media only screen and (max-width: 992px) {
  .nav {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .cont-section {
    width: 100%;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* -----HEADER----- */
#inicio {
  padding: 1em;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffc1c1), to(white));
  background-image: linear-gradient(to right, #ffc1c1, white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*---NAV---*/
}

#inicio .logo img {
  width: 160px;
}

#inicio .nav {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#inicio .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

#inicio .nav ul li {
  list-style: none;
  margin: 0 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#inicio .nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: #ff7673;
  padding: 10px 15px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

#inicio .nav ul li a:hover {
  background-color: #ff7673;
  -webkit-transition: all .2s;
  transition: all .2s;
  color: white;
  border-radius: 20px;
}

#inicio .nav ul li #button {
  padding: 10px 15px;
  border: none;
  background: #ff7673;
  color: #fff;
  border-radius: 20px;
}

/* <-----Footer------> */
.footer {
  position: relative;
  width: 100%;
  height: 15vh;
  bottom: 0;
  background-color: #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer p {
  color: #fff;
  padding: 25px;
}

.footer .icons a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
}

.footer button {
  background-color: white;
  height: 35px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  border-radius: 25px;
  border: none;
  padding: 8px 0px;
}

.footer button a {
  line-height: 5px;
  font-size: 18px;
  color: black;
  text-decoration: none;
  padding: 0 10px;
}

/* Acá empieza el css de contacto */
.main__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__contact h2 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

.iframe {
  width: 100%;
  height: 50%;
  text-align: center;
}

.iframe iframe {
  width: 80%;
  height: 100%;
}

.t-area {
  min-height: 100px;
  max-height: 300px;
  overflow: auto;
}

/* <-----Main-----> */
.main {
  width: 100%;
  position: relative;
  /* main__section2 */
}

.main .main__section {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.main .main__section img {
  width: 100%;
  min-height: 200px;
  max-height: 600px;
}

.main .main__section2 {
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .main__section2 h1 {
  text-align: center;
  padding-top: 50px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

.main .main__section2 .container_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main .main__section2 button {
  display: block;
  margin: 80px auto;
  background-color: #ff6464;
  border: none;
  border-radius: 25px;
  padding: 10px 15px;
}

.main .main__section2 button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.main .main__section2 button a {
  text-decoration: none;
  font-size: 22px;
  color: white;
}

.size {
  width: 100%;
}

.t-card {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

/* Acá empieza el css de servicios */
.main__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75.1vh;
}

.main__services li {
  list-style: none;
}

.main__services svg {
  position: absolute;
  width: 100%;
  bottom: 100px;
  z-index: -10;
}

.main__services .services {
  text-align: center;
  z-index: 100;
}

.main__services .services h1 {
  margin: 20px 0;
  text-decoration: underline;
  font-size: 36px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: #ff0400;
}

.main__services .services .services__container h2, .main__services .services .services__container h3, .main__services .services .services__container .main__products .main__products__s2 .products .prices, .main__products .main__products__s2 .products .main__services .services .services__container .prices {
  margin: 25px 0;
  z-index: 1002;
}

.main__services .cont-section {
  width: 60%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
}

.main__services .cont-section .equipos {
  position: relative;
}

.main__services .cont-section .c-btn {
  background-color: #ff7673;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .main__services svg {
    position: absolute;
    bottom: 280px;
    width: 100%;
  }
  .main__services .cont-section {
    width: 90%;
  }
}

/* Acá empieza el css de nosotros */
.main__nosotros .presentacion1 .img-box {
  width: 100%;
  height: auto;
  max-height: 600px;
  overflow: hidden;
}

.main__nosotros .presentacion1 .img-box img {
  width: 100%;
  position: relative;
}

.main__nosotros .presentacion2 {
  position: relative;
  bottom: 0;
}

.main__nosotros .presentacion2 h1 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-align: center;
  background: none;
  margin: 10px 0;
}

.main__nosotros .presentacion2 .t-presentacion2 {
  text-align: center;
}

/*Acá empieza el css de productos*/
.main__products {
  height: auto;
}

.main__products .main__products__s1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__products .main__products__s1 h1 {
  margin: 20px auto;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

.main__products .main__products__s1 .carrusel img {
  width: 100%;
  max-height: 600px;
}

.main__products .main__products__s1 .carrusel i {
  cursor: pointer;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main__products .todos_los_productos {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__products .todos_los_productos h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.main__products .main__products__s2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main__products .main__products__s2 .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 600px;
  width: 30rem;
  margin: 10px 10px;
  border: 1px solid #b7b7b7;
  border-radius: 20px;
}

.main__products .main__products__s2 .products:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 2px 2px 20px .6px;
          box-shadow: 2px 2px 20px .6px;
}

.main__products .main__products__s2 .products img {
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  height: 350px;
}

.main__products .main__products__s2 .products h3, .main__products .main__products__s2 .products .prices {
  text-align: center;
  margin: 5px 0;
}

.main__products .main__products__s2 .products p {
  text-align: center;
  padding: 0 40px;
}

.main__products .main__products__s2 .products .prices {
  margin: 5px auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  overflow: hidden;
}

.main__products .main__products__s2 .products .prices button {
  background-color: #00ec00;
  border-radius: 25px;
  color: #fff;
  padding: 10px;
  border: none;
}

.main__products .main__products__s2 .products .prices button:hover {
  background-color: #00d000;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main__products .main__products__s2 .products .prices input {
  margin: 0;
  width: 60px;
  font-size: 20px;
}
