@import 'utilities/variables';
@import 'utilities/mixins';

@import 'base/reset';

@import 'layout/header';
@import 'layout/footer';

@import 'components/buttons';

@import 'views/contact';

@import 'mediasQ/mediaQ';




/* <-----Main-----> */

.main{
    width: 100%;
    position: relative;

    .main__section{
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;

        img{
            width: 100%;
            min-height: 200px;
            max-height: 600px;
        }
    }


    /* main__section2 */

    .main__section2{
        position: relative;
        flex-wrap: wrap;

        h1{
            text-align: center;
            padding-top: 50px;
            text-transform: uppercase;
            font-family: $oswald;
            font-weight: bold;
        }


        .container_products{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        button{
            display: block;
            margin: 80px auto;
            background-color: rgb(255, 100, 100);
            border: none;
            border-radius: 25px;
            padding: 10px 15px;

            &:hover{
                transform: scale(1.1);
                transition: all .2s;
            }

            a{
                text-decoration: none;
                font-size: 22px;
                color: rgb(255, 255, 255);
            }
        }
    }
}

.size{
    width: 100%;
}

.t-card{
    font-family: $oswald;
    font-weight: 700;
}

/* Acá empieza el css de servicios */


.main__services{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;

    li{
        list-style: none;
    }

    svg{
        position: absolute;
        width: 100%;
        bottom: 100px;
        z-index: -10;
    }

    .services{
        text-align: center;
        z-index: 100;

        h1{
            margin:20px 0;
            text-decoration: underline;
            font-size: 36px;
            font-family: $oswald;
            font-weight: 700;
            color: $rojoFuerte;
        }

        .services__container{
            h2, h3{
                margin: 10px 0;
                z-index: 1002;
            }
        }
    }

    

    .cont-section{

        width: 60%;
        text-align: center;
        @include flex(column, nowrap, center, auto);
        

        .equipos{
            position: relative;
            margin-bottom: 57.7px;
        }

        .c-btn{
            background-color: $rojoClaro;
            font-family: $openSans;
            font-weight: bold;
        }
    } 

    @media screen and (max-width:992px) {

        svg{
            position: absolute;
            bottom: 280px;
            width: 100%;
        }
        padding: 1em;
    
    
        .cont-section{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .5em;

            .materiales{
                width: 100%;
                text-align: left;
            }

            .equipamiento{
                width: 100%;
                text-align: left;  
            }

            .ingenieria{
                width: 100%;
                text-align: justify;
            }
        }
    }
}

/* Acá empieza el css de nosotros */

.main__nosotros{
    height:auto;

    .presentacion1{
        .img-box{
            width: 100%;
            height: auto;
            max-height: 600px;
            overflow: hidden;

            img{
                width: 100%;
                position: relative
            }
        }
    }



    .presentacion2{

        .t-presentacion2{

            h1{
                font-family: $oswald;
                font-weight: bold;
                text-align: center;
                background: none;
                margin: 10px 0;
            }

            text-align: center;
        }
    }
}

/*Acá empieza el css de productos*/


.main__products{
    height: auto;

    .main__products__s1{
        display: flex;
        flex-direction: column;

        h1{
            margin: 20px auto;
            font-family: $oswald;
            font-weight: bold;
        }

        .carrusel{

            img{
                width: 100%;
                max-height:600px ;
            }

            i {
                cursor: pointer;
                align-content: center;
            }
        }
    }

    .todos_los_productos{
        margin: 25px 0;
        display: flex;
        justify-content: center;

        h2{
            font-family: $oswald;
            font-weight: 400;
            font-size: 40px;
        }
    }

    .main__products__s2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        .products{
            display: flex;
            flex-direction: column;
            min-width: auto;
            max-width: 28rem;;
            margin: map-get($products, m );
            border: map-get($products, b );
            border-radius: map-get($products, b-r );
            padding: .5em;

            &:hover{
                transform: scale(1.02);
                transition: all 0.2s;
                box-shadow: 2px 2px 20px .6px;
            }

            img{
                padding: 10px;
                width: 100%;
                margin: 0 auto;
                height: 350px;
            }

            h3{
                text-align: center;
                margin: 5px 0;
            }

            p{
                text-align: center;
                padding: 0 30px;
            }


            .prices{
                @extend h3;
                margin: 5px auto;
                width: max-content;
                overflow: hidden;

                button{
                    background-color: rgb(0, 236, 0);
                    border-radius: 25px;
                    color: #fff  ;
                    padding: 10px;
                    border: none;

                    &:hover{
                        background-color: rgb(0, 208, 0);
                        transition: all .5s;
                    }
                }

                input{
                    margin: 0;
                    width: 60px;
                    font-size: 20px;
                    margin-top: 5px;
                }
            }
        }
    }
}