
$gradHeader: linear-gradient(to right, #ffc1c1, rgb(255, 255, 255));
$colorFooter:#404040;

// PALETA DE COLORES
    $rojoFuerte:#ff0400;
    $rojoMedio:#ff3936;
    $rojoClaro:#ff7673;
    $negroFuerte:#191919;
    $negroClaro:#404040;


// FUENTES/TIPOGRAFIAS

$oswald:'Oswald', sans-serif;
$openSans:'Open Sans', sans-serif;



// MAPA

$products:(
    h: 600px,
    w:30rem,
    m:10px 10px,
    b:1px solid rgb(183, 183, 183),
    b-r:20px
);